#list-area p {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
}

.done {
    text-decoration: line-through;
    color: gray;
}

.delete-btn {
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0 5px;
    border-radius: 3px;
}